<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo Page </title>
</head>
<body>

    <h1>This is heading </h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit aliquid veniam quaerat magni soluta quis eos adipisci! Dolore, autem quibusdam.</p>

    <p> {{data}}</p>

  <div>
      {% for x in data %}

      <h3> This is dyanamic {{x}}</h3>

      {% endfor %}
    
  </div>
    
</body>
</html>